# Python缓存
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# 数据、结果文件夹不上传
*.xlsx
*.xls
results_snapshot*/
poa_*_results/

# 图片输出
*.png
*.svg
*.pdf

# 模型保存文件
*.pkl
*.joblib

# Origin工程
*.opj
*.opju

#系统
.DS_Store
Thumbs.db
